#product-overview {
    background: linear-gradient(to top right, white 5%, transparent), url("images/cheem.jpg") center/cover no-repeat border-box, lightblue;
    /* background-image: url("cheem.jpg");
    background-size: cover;
    background-position: left bottom; 
    background-repeat: no-repeat;
    background-origin: border-box;
    background-clip: border-box; /*
    /* width is for the content, excluding padding/border/margin */
    /* background-image: linear-gradient(90deg, red 30%, blue 40%, green 50%, yellow 60%, orange); */
    /* background-image: radial-gradient(circle farthest-corner at 20% 50%, purple, blue, green, yellow); */
    width: 100%; 
    height: 45vh;
    position: relative;
}

.product-overview__slogan {
    color:white;
    background-color: rgba(30, 143, 255, 0.37);
    font-family: 'Allan', cursive;
    font-size: 2.75rem;
    position: absolute;
    bottom: 2.5rem;
    right: 0px; 
    padding: 0.5rem; 
    padding-left: 6rem;
    margin: 0px;
}

/* note: can use multiple media queries,
list in ascending order since document is read top to bottom */
@media (min-width: 40rem) and (min-height: 60rem) {
    #product-overview {
        height:55vh;
        background-position: 50% 25%;
    }
    .product-overview__slogan {
        font-size: 3.5rem;
    }
}


/* class selector overrides the html tag selector like "h1" */
.section-title {
    color:dodgerblue;
    text-align: center;
}

.plan {
    background-color: rgb(161, 208, 255);
    text-align: center;
    padding: 1rem;
    margin: 1rem 0rem;
    width: 100%;
}

.plan--highlighted {
    background-color: dodgerblue;
    color: white;
    
}

.plan__annotation {
    background-color: rgb(112, 187, 0);
    color: white;
    padding: 4px 4px;
    /* box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7); */
    border-radius: 8px;
}

.plan__title {
    color: dodgerblue
}

.plan__price {
    color:gray;
}

.plan--highlighted .plan__price {
    color: navy;
}

.plan--highlighted .plan__title {
    color: white;
}

.plan__features {
    list-style: none;
    margin: 0;
    padding: 0;
}

.plan__feature {
    margin: 0.5rem 0;
}

@media (min-width: 40rem) {
    .plan__list {
        width: 100%; 
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .plan {
        margin: 0 1rem;
        display: flex;
        flex-direction: column;
        vertical-align: middle;
        max-width: 18rem;
        min-height: 28rem;
    }
    .plan--highlighted {
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
        min-height: 40rem;
    }
}

#key-features {
    background-color: coral;
    margin-top: 5rem;
    padding: 1rem;
}

#key-features .section-title {
    color: white;
    margin: 2rem;
}

.key-feature__list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.key-feature  {
    display: block;
    margin: 6rem 0rem;
}

.key-feature__image {
    background: peachpuff;
    width: 8rem;
    height: 8rem;
    border: 3px solid white;
    border-radius: 50%;
    margin: 0 auto;
    padding: 1.25rem;
}

.key-feature__description {
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 1.5rem;
}

/* p::first-letter {
    color: dodgerblue;
    font-size: 20px;
} */

@media (min-width: 40rem) {
    .key-feature__list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items:flex-start;
    }
    .key-feature {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 30%;
        max-width: 25rem;
    }
    .key-feature {
        margin: 0rem;
    }
}


.modal {
    position: fixed;
    opacity: 0;
    transform: translateY(-3rem);
    z-index: 200;
    top: 20%;
    left: 30%;
    width: 40%;
    background: white;
    padding: 1rem;
    border: 1px solid #ccc;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
    transition: opacity .5s ease-out, transform 750ms ease-out; 
  }
  
  .modal__title {
    text-align: center;
    margin: 0 0 1rem 0;
  }
  
  .modal__actions {
    text-align: center;
  }
  
  .modal__action {
    border: 1px solid #0e4f1f;
    background: #0e4f1f;
    text-decoration: none;
    color: white;
    font: inherit;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  
  .modal__action:hover,
  .modal__action:active {
    background: #2ddf5c;
    border-color: #2ddf5c;
  }
  
  .modal__action--negative {
    background: red;
    border-color: red;
  }
  
  .modal__action--negative:hover,
  .modal__action--negative:active {
    background: #ff5454;
    border-color: #ff5454;
  }