@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allan&display=swap');



/* global selector */
* { 
    /* oooh never knew about box-sizing */
    /* 
        box-sizing: border-box; 
        means that the width and height are set at the border level,
        the default of box-sizing is content-box, which is content level
        although border-box is way more common, and certainly convenient.
     */
     box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    /* first look for Montserrat, then Verdana, then if neither are found
    apply the browsers default sans-serif font */
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    display: grid;
    grid-template-rows: 3.5rem auto fit-content(8rem);
    grid-template-areas: "header"
                         "main"
                         "footer";
    height: 100%;
}

main {
    grid-area: main;
}

.backdrop {
    display: none;
    position:fixed;
    opacity: 0;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color:rgba(0, 0, 0, 0.3);
    transition: opacity .5s linear;
}

.main-header {
    background-color: dodgerblue;
    padding: 10px 20px;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 15;
    height: 3.5rem;
    display:flex;
    /* align on cross axis */
    align-items: center;
    justify-content: space-between;
}

.main-header__brand {
    color: white;
    text-decoration: none;
    font-weight:bolder;
}

.main-header__brand img {
    height: 100%;
    height: 2rem;
    vertical-align: middle;
}

.toggle-button {
    width: 3rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
  }
  
  .toggle-button:focus {
    outline: none;
  }
  
  .toggle-button__bar {
    width: 100%;
    height: 0.125rem;
    background: white;
    display: block;
    margin: 0.375rem 0;
  }

  @media (min-width: 40rem) {
    .toggle-button {
        display: none;
    }
}


.main-nav {
    /* display: inline-block;
    text-align: right;
    width: calc(100% - 80px);
    vertical-align: middle; */
    display: flex;
}

.main-nav__item {
    /* displayed inline, but can be styled with block type properties like margins */
    display: none;
    margin: 0px 1rem;
}

.main-nav__items {
    margin: 0px;
    padding: 0;
    /* list-style: none, removes bullet points */
    list-style: none;
    display: flex;
}

.main-nav__item a,
.mobile-nav__item a {
    text-decoration: none;
    color: peachpuff;
    font-weight: bold;
    padding: .75rem 0;
}

.main-nav__item--cta a,
.mobile-nav__item--cta a {
    color: white;
    background:coral;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
}

@media (min-width: 40rem) {
    .main-nav__item {
        display: inline;
    }
}

/* 
psuedo classes ":"
psuedo elements "::"
 */
.main-nav__item a:hover,
.main-nav__item a:active,
.mobile-nav__item a:hover,
.mobile-nav__item a:active {
    color: white;
    border-bottom: 3px solid peachpuff;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active,
.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
    color: white;
    background:blue;
    border: none;
}

.mobile-nav {
    /* display: none; */
    position: fixed;
    opacity: 0;
    z-index: 101;
    top: 0;
    transform: translateX(-16rem);
    background: white;
    width: 70%;
    height: 100vh;
    background-color: dodgerblue;
    transition: opacity .4s cubic-bezier(0.83, 0, 0.17, 1), transform .4s cubic-bezier(0.83, 0, 0.17, 1);
  }
  
  .mobile-nav__items {
    width: 90%;
    height: 100%;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .mobile-nav__item {
    margin: 1rem 0;
  }
  
  .mobile-nav__item a {
    font-size: 1.5rem;
    text-shadow: 2px 2px 8px black
  }

.button {
    background-color: peachpuff;
    color: blue;
    font: inherit;
    font-weight: bold;
    padding: 8px;
    border: none;
    border-radius: 8px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
    cursor:pointer;
}

.button:hover,
.button:active {
    background-color: blue;
    color: white;
}

.button:focus {
    outline: none;
}

.button[disabled] {
    cursor: not-allowed;
    background: grey;
    color: darkgray;
}

.main-footer {
    background: dodgerblue;
    padding: 2rem;
    margin-top: 3rem;
    grid-area: footer;
}

.main-footer__links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-footer__link {
    margin: 0.5rem 0;
}

.main-footer__link > a {
    color: white;
    text-decoration: none;
}

.main-footer__link > a:hover,
.main-footer__link > a:active {
    color: lightblue
}

@media (min-width: 40rem) {
    .main-footer__links {
        flex-direction: row;
        justify-content: center;
    }

    .main-footer__link {
        margin: 0rem 1rem;
    }
}

.open {
    display: block !important;
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.open__mobile-nav {
    opacity: 1 !important;
    transform: translateX(0) !important;
}